/* Coolors Exported Palette - coolors.co/6cadde-a9cef4-cee5f2-0d1f2d-020202 */

/* HSL */
$color1: hsla(206%, 63%, 65%, 1);
$color2: hsla(210%, 77%, 81%, 1);
$color3: hsla(202%, 58%, 88%, 1);
$color4: hsla(206%, 55%, 11%, 1);
$color5: hsla(0%, 0%, 1%, 1);

/* RGB */
$color1: rgba(108, 173, 222, 1);
$color2: rgba(169, 206, 244, 1);
$color3: rgba(206, 229, 242, 1);
$color4: rgba(13, 31, 45, 1);
$color5: rgba(2, 2, 2, 1);